.text-gray800{
    color:$gray-800;
}
.bg-gray800{
    background-color:$gray-800;
}
.text-gray500{
    color:$gray-500;
}
.bg-gray500{
    background-color:$gray-500;
}

.text-light1{
    color: $gray-100;
}
.shadow-top{
    box-shadow: 0 -3px 6px $primary;
}
.rounded-top-lg{
    border-radius: $border-radius-lg $border-radius-lg 0 0;
}
.text-info-light{
    color: $info-light;
}
.z-index-top{
    z-index: 1;
}
.hover:hover{
    box-shadow: 0 0 6px rgba($primary, 0.5);
    cursor: pointer;
}
