.btn-outline-gray1{
    border: 1px solid $gray-500;
    color: $gray-500;
    &:hover{
        background-color: $gray-400;
        color: $primary;
        border-color: $gray-400;
    }
    &:focus{
        box-shadow: none;
        background-color: $gray-400;
        color: $primary;
        border-color: $gray-400;
    }
}