.nav-list{
    width: 132px;
    background-color: $dark;
    border: none;
    .offcanvas-body{
        padding:22px;
    }
    &-item{
        background-color: $gray-800;
        color: $gray-100;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 24px;
        border-radius:12px;
        span{
            text-align: center;
            margin-bottom: 8px;
        }
        p{
            font-size: $font-size-base * .9375;
            text-align: center;
        }
        &:hover{
            background-color: $secondary;
            color: $white;
        }
    }
    
}